 
$PomoPrimaryColor: #9e3f3f;
$PomoSecundaryColor: #f9f9f9;
$PomoPrimaryDarkColor: #7e1f1f;

$BreakPrimaryColor: #00ffff;
$BreakPrimaryDarkColor: #00fefe;

*{
  font-family: calibri; /*calibri*/ 
  margin: 0; padding: 0;
  /* outline: 1px solid #ff0000; */
  box-sizing: border-box;
}

.break-color {
  border-color: $BreakPrimaryColor; 
  background: $BreakPrimaryColor;
}
.content{
  background-color: $PomoPrimaryColor;
  color: $PomoSecundaryColor;
}

html, body {width: 100%; height: 100%;}

body{
  min-width: 320px;
  background-color: #f9f9f9;
}
#root {
  width: 100%;
  height: 100%;
}
main {
  display: flex;
}

#timer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  padding: 10px;
}
#data {
  display: inline-flex;
  height: 25px;
  text-align: center;
  // border-radius: 10px;
  margin-bottom: 20px;

  #actual-timer {
    display: inline-flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: 600;    
  }

  #reset-pomodoros-btn {
    height: 25px; width: 50px;
    padding: 0;
    border: none;
    color: $PomoSecundaryColor;
    background-color: $PomoPrimaryColor;

    &:hover {
      background-color: $PomoPrimaryDarkColor;
    }

  }
  & > * {
    padding: 0px 5px;
  }
  & > :not(:last-child) {
    border-right: 2px solid white; 
  }

}

#pomodoro-number-wrapper {
  display: inline-flex;
  align-items: center;
  font-size: 1.1em;
  font-weight: 600;

  #pomodoro-number{
    display: none;
    padding: 0px 0px 0px 5px;
  } 
}

#timer {
  color: #f9f9f9;
  font-size: 9em;
  text-shadow: 2px 2px 0px #e9e9e9;
  background-color: #9e3f3f;
  font-weight: 700;
  border-radius: 20px;
  border-bottom: 10px solid #8e2f2f;
  border-right: 10px solid #8e2f2f;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;
  min-width: 300px; max-width: 500px;
  width: 100%; height: 250px;
}

#options {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  button {
    font-size: 1.5em;
    border: none;
    border-bottom: 5px solid #8d2f2f;
    color: $PomoSecundaryColor;
    background-color: $PomoPrimaryColor;
    margin: 10px; padding: 10px;
    border-radius: 10px;

    &:active {
      border: none;
    }
  }
}

#button-timer {
  font-size: 2em;
  width: 300px;
  border: none;
  border-bottom: 5px solid #8d2f2f;
  color: $PomoSecundaryColor;
  background-color: $PomoPrimaryColor;
  margin: 10px; padding: 10px;
  border-radius: 10px;
}



@media only screen and (max-width: 480px) {
  * {
    font-size: 14px;
  }  
}





















