#create-task-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
#task-list{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.delete-task-btn{
  align-self: center;  
}

.single-task {
  background-color: #111;
  color: #fff;
  display: grid;

  grid-template-columns: min-content 1fr min-content;
  width: 50%;
  height: 70px;
}
input[type="checkbox"] {
  align-self: center;  
}

input[type="text"] { 
   
}


